body {
  background-color: #DDD;
  color: #555;
  font-size: 20px;
}

img {
  box-shadow: 0 10px 30px rgba(0,0,0,.7);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  opacity: 0.9;
  margin: 0 auto;
}

h1 {
  font-family: 'Farro', sans-serif;
  font-size: 50px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 40px;
}

.container {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.h2_font {
  font-family: 'Beth Ellen', cursive;
}

.lewagon:hover {
  color: #ddd;
}

a:hover {
  color: #222;
}

.card {
  background-color: #FFF;
  padding: 50px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1); ;
}


.lewagon {
  color: white;
  background-color: red;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 30px
}

a {
  color: #DDD;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.font_name {
  font-family: 'Inconsolata', monospace;
  color: green;
  font-size: 35px
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
